$btn-transition:
  color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

.btn-insidejob {
  position: relative;
  color: $ijoblight;
  background-color: $ijobdark;
  border-radius: 0;
  padding-top: 4px !important;
  padding-bottom: 2px !important;
  border: none;
  transition: $btn-transition; /* Transition for the button */
}

.btn-insidejob:hover {
  background-color: black;
  color: $ijoblight;
}

.btn-insidejob::after,
.btn-insidejob::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px; /* Width of the trapeze */
  height: 100%;
  background-color: $ijobdark;
  transition: background-color 0.15s ease-in-out; /* Ensure transition is applied to pseudo-elements */
}

.btn-insidejob::before {
  left: -4.5px; /* Position the trapeze on the left */
  clip-path: polygon(25% 0, 0% 25%, 0% 75%, 25% 100%);
}

.btn-insidejob::after {
  right: -4.5px; /* Position the trapeze on the right */
  clip-path: polygon(75% 0, 100% 25%, 100% 75%, 75% 100%);
}
.btn-insidejob:hover::after,
.btn-insidejob:hover::before {
  background-color: black; /* Transition the color of the trapezoids */
}

.btn-link {
  color: $ijobdark;
  text-align: start;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
