.navbar-nav {
  --bs-nav-link-color: inherit;
  --bs-nav-link-hover-color: black;
}

.navbar-brand,
.navbar-nav,
a.nav-link,
.offcanvas {
  color: inherit !important;
}

.navbar {
  --bs-navbar-brand-font-size: 1rem;
  --bs-navbar-toggler-icon-bg: url("/images/logo.svg");
}
