/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 0.75px;
}

// Track

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lighten($ijobdark, 55%);
  border-radius: 10px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $ijobdark;
  border-radius: 10px;
}

// Hover
::-webkit-scrollbar-thumb:hover {
  background: black;
}
